@model RentalDetailsViewModel

@{
    ViewData["Title"] = "Rental Details";
}

<h1>Details</h1>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CustomerName)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CustomerName)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CarDetails)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CarDetails)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.RentalDate)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.RentalDate)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ReturnDate)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ReturnDate)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TotalCost)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TotalCost)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.IsReturned)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.IsReturned)
      </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
